:root {
    --blue: rgb(60, 108, 196);
    --lightblue: rgb(127, 167, 241);
  }

body {
    background-color: rgb(219, 148, 148);
    color: maroon;
    font-family: 'Yusei Magic', sans-serif;
}

.listed-item-link > a {
    color: white;
    text-decoration: none;
}

.add-property-link > a {
    color: white;
    text-decoration: none;
}

.body {
    padding: 3rem;
    text-align: center;
}

h1 {
    padding: 1rem;
    margin-bottom: 1rem;
    margin: auto;
    text-align: center;
    border: maroon solid 2px;
    background-color: white;
    color: maroon;
    display: block;
    box-shadow: 5px 5px;
    width: 50%;
    min-width: 350px;
}

.login {
    text-align: center;
    width: 30%;
    min-width: 350px;
    margin: auto;
}

.list-container{
    padding: 2rem;
}

.listed-item {
    padding: 1rem;
    margin: auto;
    width: 40%;
    min-width: 300px;
    margin-bottom: 2rem;
    text-align: center;
    border: white solid 2px;
    background-color: var(--blue);
    color: white;
    display: block;
}

.listed-item-messages-True {
    padding: .3rem;
    margin: auto;
    width: 90%;
    min-width: 300px;
    margin-bottom: 1rem;
    text-align: center;
    border: white solid 2px;
    background-color: var(--blue);
    color: white;
    display: block;
}

.listed-item-messages-False {
    padding: .3rem;
    margin: auto;
    width: 90%;
    min-width: 300px;
    margin-bottom: 1rem;
    text-align: center;
    border: white solid 2px;
    background-color: var(--lightblue);
    color: white;
    display: block;
}

.listed-item-link {
    padding: 1rem;
    margin: auto;
    width: 40%;
    min-width: 300px;
    margin-bottom: 2rem;
    text-align: center;
    border: white solid 2px;
    background-color: var(--blue);
    color: white;
    display: block;
}

.listed-item-link:hover {
    box-shadow: white 5px 5px;
    cursor: pointer;
}

.add-property-link {
    padding: 0.5rem;
    margin: auto;
    width: 20%;
    min-width: 200px;
    margin-top: 2rem;
    text-align: center;
    border: white solid 2px;
    background-color: var(--lightblue);
    color: white;
    display: block;
}

.add-property-link:hover, #show_report_issue_form:hover, #show_send_message_form:hover {
    box-shadow: white 5px 5px;
    cursor: pointer;
}

.add_property {
    padding-top: 2rem;
    margin: auto;
}

#add_address, #add_image {
    width: 40%;
    min-width: 300px;
}

.issue_input, .message_input {
    width: 80%;
    min-width: 200px;
}

.inline-child {
    display: inline-block;
    width: 42%;
    min-width: 250px;
    vertical-align: top;
    margin-top: 1rem;
}

#show_report_issue_form, #show_send_message_form {
    padding: 0.5rem;
    margin: auto;
    width: 60%;
    min-width: 200px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
    border: white solid 2px;
    background-color: var(--lightblue);
    color: white;
}

.send_a_message {
    padding: 0.5rem;
    margin: auto;
    width: 30%;
    min-width: 200px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    border: white solid 2px;
    background-color: var(--lightblue);
    color: white;
}

.send_a_message:hover {
    box-shadow: white 5px 5px;
    cursor: pointer;
}

.send_a_message_form {
    display: none;
    margin: auto;
    width: 50%;
    min-width: 350px;
    margin-bottom: 2rem;

}

.edit_message, .original_message_content {
    width: 80%;
    min-width: 250px;
    text-align: left;
    margin: 1rem;
}

#send-message-form, .report-issue-form {
    display: none;
}

