{% extends "property/layout.html" %}

{% block body %}

    {% if user.manager %}


        <h1>Add Property</h1>

        {% if add_message %}
            <br><br>
            <div style="width: 400px; margin: auto" class="alert alert-info" role="alert">{{ add_message }}</div>
        {% endif %}

        <div class="add_property">
            <form action="{% url 'add_property' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="upload_form">
                    <label for="address">Address</label>
                    <input id="add_address" name="address" autocomplete=off type=text>
                    <br><br>
                    <label for="image">Image of Property (optional)</label>
                    <br>
                    <input id="add_image" name="image" type="file">
                    <br><br>
                    <label for="lease">Property Lease pdf (optional)</label>
                    <br>
                    <input id="add_lease" name="lease" type="file">
                    <br><br>
                    </div>
                    <input class="btn btn-warning" name="submit" type=submit value="Add Property">
            </form>
        </div>

    {% else %}
            You don't have permission to see this. Sorry!
    {% endif %}

{% endblock %}
