{% extends "property/layout.html" %}

{% block body %}

    {% if user.tenant %}
        <h1>Hello, {{user}}!</h1>

        <div class="list-container">
        {% if my_unit %}

        <div class="listed-item">
            <p>{{my_unit}}</p>
            <p>Property Manager: {{my_unit.manager.first_name}} {{my_unit.manager.last_name}}</p>
        </div>
        

        {% else %}

        <p>TODO: Find your unit in this form!</p>

        {% endif %}
        </div>


    {% endif %}

    {% if user.manager %}
        
        {% if units%}
            
            <h1>My Properties:</h1>

            <div class="list-container">
            {% for unit in units %}

                <div class="listed-item-link">
                    <a href="{% url 'unit' unit.id %}">{{unit}}</a>
                </div>
                
            {% endfor %}
            </div>

        {% else %}
            <br><br>
            <p> You have not registered any properties yet. </p>
            <p> Let's get started! </p>
            <br><br>
        {% endif %}

        <h1>Add Property</h1>

        {% if message %}
            <div class="alert alert-info" role="alert" >{{ add_message }}</div>
        {% endif %}

        <div class="add_property">
            <form action="{% url 'add_property' %}" method="post">
                {% csrf_token %}
                <input id="add_address" name="address" autocomplete=off type=text placeholder="Address">
                <br><br>
                <input id="add_image" name="image" autocomplete=off type=text placeholder="Image URL (optional)">
                <br><br>
                <input name="submit" type=submit value="Add Property">
            </form>
        </div>

    {% endif %}

{% endblock %}