{% extends "property/layout.html" %}

{% block body %}

<h1>Issues</h1>

{% if user.tenant %}
    <br><br>
    You must claim an address and property manager before you can report or view issues.
{% else %}

    {% if issues_info %}   
        <div class="list-container">

            {% for count, unit in issues_info %}

                <div class="listed-item-link">
                    <a class="fill_div" href="{% url 'unit_issues' unit.id %}">{{unit}} ({{unit.tenant.first_name}})</a>
                    <br>
                    {% if count %}
                    <p>{{count}} unresolved issue(s)</p>
                    {% else %}
                    <p>0 unresolved issues! :)</p>
                    {% endif %}
                </div>
                
            {% endfor %}
        </div>
    {% else %}
        <br><br>
        You must add a property with a tenant before you can see see issues.
    {% endif %}

{% endif %}

{% endblock %}