{% extends "property/layout.html" %}

{% block body %}

<h1>Issues</h1>

{% if user.tenant %}
    <br><br>
    You must claim an address and property manager before you can report or view issues.
{% else %}

    {% if issues_info %}   
        <div class="list-container">

            {% for count, unit in issues_info %}

                <a href="{% url 'unit_issues' unit.id %}">
                    <div class="listed-item-link">
                        {{unit}} ({{unit.tenant.first_name}})
                        <br>
                        {% if count %}
                        {{count}} unresolved issue(s)
                        {% else %}
                        0 unresolved issues! :)
                        {% endif %}
                    </div>
                </a>
                
            {% endfor %}
        </div>
    {% else %}
        <br><br>
        You must add a property with a tenant before you can see see issues.
    {% endif %}

{% endif %}

{% endblock %}