{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Property Manager</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'property/styles.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static 'property/favicon.png' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        
        {% if user.is_authenticated %}

        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <a id="property" class="navbar-brand" href="{% url 'index' %}">Property</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}"><strong>{{ user.username }}</strong></a>
                </li>
                {% if user.manager %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">My Properties</a>
                </li>
                {% endif %}
                {% if user.tenant %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">My Unit</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'messages' %}">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'issues' %}">Issues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
              </ul>
            </div>
          </nav>
        {% endif %}

        <div class="body">
        {% block body %}
        {% endblock %}
        </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{% static 'property/property.js' %}"></script>
    </body>
</html>