{% extends "property/layout.html" %}

{% block body %}

<h1>Messages</h1>

{% if user.tenant %}
    <br><br>
    You must claim an address and property manager before you can send or recieve messages.

{% else %}

    {% if units %}   
        <div class="list-container">

            {% for unit in units %}

                <div class="listed-item-link">
                    <a class="fill_div" href="{% url 'unit_messages' unit.id %}">Messages with {{unit.tenant.first_name}} {{unit.tenant.last_name}} ({{unit}})</a>
                </div>
                
            {% endfor %}
        </div>
    {% else %}
        <br><br>
        You must add a property with a tenant before you can see send or see messages.
    {% endif %}

{% endif %}

{% endblock %}