{% extends "property/layout.html" %}

{% block body %}

<h1>Messages</h1>

{% if user.tenant %}
    <br><br>
    You must claim an address and property manager before you can send or recieve messages.

{% else %}
    {% if messages_info %}   
        <div class="list-container">

            {% for count, unit in messages_info %}
            <a href="{% url 'unit_messages' unit.id %}">
                <div class="listed-item-link">
                    Messages with {{unit.tenant.first_name}} {{unit.tenant.last_name}} ({{unit}})
                    <br>
                    {% if count %}
                    {{count}} unread message(s)
                    {% else %}
                    No new messages
                    {% endif %}
                </div>
            </a>
                
            {% endfor %}
        </div>
    {% else %}
        <br><br>
        You must add a property with a tenant before you can see send or see messages.
    {% endif %}

{% endif %}

{% endblock %}