{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>John Wyse</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'property/personal_styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-transparent">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo02">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button id="bio-nav" class="nav-link" data-page="bio">Bio</button>
                    </li>
                    <li class="nav-item">
                        <button id="portfolio-nav" class="nav-link" data-page="portfolio">Portfolio</button>
                    </li>
                    <li class="nav-item">
                        <button id="resume-nav" class="nav-link" data-page="resume">Resume</button>
                    </li>
                    <li class="nav-item">
                        <button id="contact-nav" class="nav-link" data-page="contact">Contact</button>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="header">
            <h1>John Wyse</h1>
            <h3>Software Developer</h3>
        </div>

        <div id="bio" >
            <p>
            
            </p>

            <a href="https://github.com/johnwyse" target="_blank">GitHub</a>
            <br>
            <a href="https://www.linkedin.com/in/johnwyse/" target="_blank">LinkedIn</a>

        </div>

        <div id="portfolio">
            <h1>Portfolio</h1>
            <div class="portfolio-item" id="property">
                <h3> Property Manager </h3>
                <p> A web app that connects property managers and tenants. </p>
                <p> Technologies </p>
                <ul>
                    <li>Backend: Python</li>
                    <li>Frontend: JavaScript, HTML/CSS, Bootstrap</li>
                    <li>Framework: Django</li>
                </ul>
                <div class="view_project">
                    <a href="{% url 'index' %}" target="_blank">View Project</a>
                </div>
                <div class="view_on_github">
                    <a href="https://github.com/johnwyse/property-manager" target="_blank">View Code on Github</a>
                </div>
                <div class="demo_video">
                    <a href="https://youtube.com" target="_blank">Watch Video Demo</a>
                </div>
            </div>
        </div>

        <div id="resume" style="display: none">
            <p>
            Here is my bio
            </p>
        </div>

        <div id="contact" style="display: none">
            <p>
            Here is my contact info
            </p>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>