{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>John Wyse</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'property/personal_styles.css' %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static 'property/favicon2.png' %}"/>
        <!-- By Emoji One, https://creativecommons.org/licenses/by-sa/4.0 -->
    </head>
    <body>

            <div class="top">
                <div id="header">
                    <nav class="navbar navbar-expand-sm justify-content-center navbar-light bg-transparent">
                        
                        <div class="justify-content-center">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="https://github.com/johnwyse" class="nav-link" target="_blank">GitHub</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://www.linkedin.com/in/johnwyse/" class="nav-link" target="_blank">LinkedIn</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'resume' %}" class="nav-link" target="_blank">Resume</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <h1>JOHN WYSE</h1>
                    <h5>Software Developer</h5>
                    <p>john.w.wyse@gmail.com // (615) 509-3943</p>
                </div>

                <div id="bio" >
                    <p>
                        Full-stack software engineer with 3 years of experience and former high school physics/math teacher. Strong communicator with a focus on making technical concepts accessible. I enjoy collaborating to create solutions that balance the needs of users, developers, and the business.
                    </p>
                </div>

            </div> 

            <h2>Projects</h2>
            
            <div id="portfolio" class="flex">

                <div class="project" id="property">
                    <h5> Property Manager </h5>
                    <p> A web app that connects property managers and tenants. Users can send messages, share photos, report and solve maintenance issues, and view rental documents. </p>
                    <p> Technologies: 
                        <ul>
                            <li>Backend: Python, SQLite</li>
                            <li>Frontend: JavaScript, HTML/CSS, Bootstrap</li>
                            <li>Framework: Django</li>
                        </ul>
                    </p>
                    <div class="project-link">
                        <a href="{% url 'index' %}" target="_blank">Live Project</a>
                    </div>
                    <div class="project-link">
                        <a href="https://github.com/johnwyse/property-manager" target="_blank">View Code</a>
                    </div>
                    <div class="project-link">
                        <a href="https://youtu.be/K6PlQh34WoI" target="_blank">Video Demo</a>
                    </div>
                </div>

                <div class="project" id="physics">
                    <h5> Physics </h5>
                    <p> A mobile-friendly, single-page web app with references, examples, calculators, and practice problems (that give feedback) for physics topics. </p>
                    <p> Technologies: JavaScript, HTML, CSS </p>
                    <div class="project-link">
                        <a href="https://replit.com/@JohnWyse/Physics-1?replId=989339c3-105d-4b57-a3d9-05525b3bfa81" target="_blank">Live Project</a>
                    </div>
                    <div class="project-link">
                        <a href="https://github.com/johnwyse/Wyse-Physics" target="_blank">View Code</a>
                    </div>
                    <div class="project-link">
                        <a href="https://youtu.be/rKj1I1CPMsU" target="_blank">Video Demo</a>
                    </div>
                </div>

                <div class="project" id="connect">
                    <h5> Connect </h5>
                    <p> A Connect Four-style game that allows users to play in the terminal on different size boards.  </p>
                    <p> Technology: Python </p>
                    <div class="project-link">
                        <a href="https://replit.com/@JohnWyse/Connect" target="_blank">Live Project</a>
                    </div>
                    <div class="project-link">
                        <a href="https://github.com/johnwyse/Connect" target="_blank">View Code</a>
                    </div>
                    <div class="project-link">
                        <a href="https://youtu.be/pOx1JPLIpqA" target="_blank">Video Demo</a>
                    </div>
                </div>
                
            </div>



        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>