{% extends "property/layout.html" %}

{% block body %}
<div class="login">
    <h1>Register</h1>
    <br><br>



    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="user_type">I am a:</label>
            <select name="user_type" id="user_type">
                <option value="tenant">Tenant</option>
                <option value="manager">Property Manager</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" type="text" name="first_name" placeholder="First Name">
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" type="email" name="last_name" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" type="password" name="confirmation" placeholder="Confirm Password">
        </div>

        {% if message %}
            <div class="alert alert-info" role="alert" >{{ message }}</div>
        {% endif %}

        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</div>
{% endblock %}