{% extends "property/layout.html" %}
{% load static %}

{% block body %}

<h1>Issues</h1>

{% if user.is_authenticated %}

    {% if user == unit.manager or user == unit.tenant %}
    
    {% if user.manager %}
        <button id="issues_dropdown_button" class="show_send_a_message_form">Send an issue update message to {{unit.tenant}}</button><br>
                        
        <div class="send_a_message_form" id="dropdown_toggle" style="display: none">
            <form action="{% url 'send_message' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="upload_form">
                    <textarea class="message_input" id="message_text" name="text" autocomplete=off type=text placeholder="Message" rows=6 cols=100></textarea>
                    <br><br>
                    <label for="image">Image (optional)</label>
                    <br>
                    <input id="add_image" name="image" type="file">
                    <input id="tenant_recipient" name="tenant" type=hidden value="{{unit.tenant.id}}"> 
                </div>
                <input class="btn btn-warning" type="submit" value="Send Message">
            </form>
        </div>
    {% endif %}
    

    
    {% if user.tenant %}
        <button id="issues_dropdown_button" class="show_report_an_issue_form">Report an issue to {{unit.manager.first_name}}</button><br>
                    
        <div id="dropdown_toggle" class="report_an_issue_form" style="display: none">
            <form action="{% url 'report_issue' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="upload_form">
                    <input class="issue_input" id="issue_title" name="title" autocomplete=off type=text placeholder="Title">
                    <br><br>
                    <textarea class="issue_input" id="issue_description" name="description" autocomplete=off type=text placeholder="Description" rows=4 cols=80></textarea>
                    <br><br>
                    <label for="image">Image (optional)</label>
                    <br>
                    <input id="add_image" name="image" type="file">
                </div>
                <input class="btn btn-warning" type="submit" value="Submit Issue">
            </form>
        </div>
        {% endif %}

        <div id="flex-container">
            <div class="flex-child">
                <h2 id="unresolved_header">Unresolved Issues</h2>
                
                <div class="unresolved-issues">
                {% for issue in unresolved_issues %}
                    <div class="unresolved-item">
                        <p>Issue: {{issue.title}}</p>
                        <p>Originally Reported: {{issue.time_created}}</p>
                        
                        <div id="original_issue_description_{{issue.id}}">
                            <p id="current_issue_description_{{issue.id}}">Description:<br>{{issue.description|linebreaksbr}}</p>
                            {% if user.tenant %}
                            <button onclick="show_issue_textarea('{{ issue.id }}')" id="edit_button" type="button" class="edit btn btn-info">Edit/Update</button>
                            <br><br>
                            {% endif %}
                        </div>

                        {% if user.tenant %}
                        <div class="edit_issue" id="edit_issue_area_{{issue.id}}" style="display: none">
                            <textarea class="edit_issue_textarea" id="updated_description_{{issue.id}}">{{ issue.description }}</textarea><br>
                            <button onclick="update_issue('{{ issue.id }}')" type="button" id="update_button" class="update btn btn-info">Save</button>
                            <input id="issue_id" type=hidden value="{{ issue.id }}">
                            <br><br>
                        </div>
                        {% endif %}
                        
                        {% if issue.image %} 
                        <div class="issue_image">
                            <img src="{{ issue.image.url }}" alt="{{ issue.title }}" height=200>
                            <br><br>
                        </div>
                        {% endif %}
                        
                        {% if user.tenant %}
                        <form action="{% url 'change_resolved' issue.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-warning" id="resolve_button_{{issue.id}}">Mark as Resolved</button>
                        </form> 
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="flex-child">
                <h2 id="resolved_header">Resolved Issues</h2>

                <div class="resolved-issues">
                {% for issue in resolved_issues %}
                    <div class="resolved-item">
                        <p>Issue: {{issue.title}}</p>
                        <p>Originally Reported: {{issue.time_created}}</p>
                        <p>Description:<br>{{issue.description|linebreaksbr}}</p>

                        {% if issue.image %} 
                        <div class="issue_image">
                            <img src="{{ issue.image.url }}" alt="{{ issue.title }}" height=200>
                            <br><br>
                        </div>
                        {% endif %}
                        {% if user.tenant %} 
                        <form action="{% url 'change_resolved' issue.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-warning" id="unresolve_button_{{issue.id}}">Mark as Unresolved</button>
                        </form> 
                        {% endif %}
                    </div>
                
                {% endfor %}
                </div>
            </div>
        </div>
    
    {% else %}
    <br><br>You don't have permission to view this page.
    {% endif %}

{% else %}
<br><br>You don't have permission to view this page.
{% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'property/issues.js' %}"></script>
{% endblock %}