{% extends "property/layout.html" %}
{% load static %}

{% block body %}
<h1>Messages</h1>

{% if user.is_authenticated and request.user == unit.manager or request.user == unit.tenant%}

    <button id="dropdown_button" class="show_send_a_message_form">Send a new message</button><br>
                    
    <div id="dropdown_toggle" class="send_a_message_form" style="display: none">
        <form action="{% url 'send_message' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="upload_form">
                <textarea class="message_input" id="message_text" name="text" autocomplete=off type=text placeholder="Message" rows=6 cols=100></textarea>
                <br><br>
                <label for="image">Image (optional)</label>
                <br>
                <input id="add_image" name="image" type="file" accept="image/*">
                {% if user.manager %}
                <input id="tenant_recipient" name="tenant" type=hidden value="{{unit.tenant.id}}"> 
                {% endif %}
            </div>
            <input class="btn btn-warning" type="submit" value="Send Message">
        </form>
    </div>

    {% for message in messages %}
    <div id="message_{{message.id}}" class="listed-item-messages-{{message.sender.tenant}}">

        <div class="message_contents">
            {% if message.sender.profile_picture_base64 and message.sender.tenant %}
                <img src="data:image/jpeg;base64,{{ message.sender.profile_picture_base64 }}" alt="{{ message.sender }}" height=50>
            {% endif %}
            {{ message.sender.first_name }} {{ message.sender.last_name }} 
            {% if message.sender.profile_picture_base64 and message.sender.manager %}
                <img src="data:image/jpeg;base64,{{ message.sender.profile_picture_base64 }}" alt="{{ message.sender }}" height=50>
            {% endif %}
            <p>{{ message.timestamp }}</p>
            <p class="message-text">{{ message.text }}</p>
            {% if message.image_base64 %}
            <div class="message_image">
                <img src="data:image/jpeg;base64,{{ message.image_base64 }}" alt="{{ message.title }}">
            </div>
            {% endif %}
        </div>           
        
        {% if user == message.sender %}
        <div class="read_status">
            {% if message.read %}
            Read
            {% else %}
            Unread
            {% endif %}
        </div>

        <div class="delete_buttons">
            <button onclick="delete_message('{{ message.id }}')" type="button" id="delete_button_{{message.id}}" class="update btn btn-danger">Delete</button>
        </div>
        {% endif %}
    </div>

    {% endfor %}

    {% if messages.paginator %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if messages.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ messages.previous_page_number }}">Previous</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
            </li>
          {% endif %}
          {% for i in messages.paginator.page_range %}
            {% if messages.number == i %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">
                  {{ i }}
                  <span class="sr-only">(current)</span>
                </span>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if messages.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ messages.next_page_number }}">Next</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
            </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

{% else %}

    <br><br>
    You don't have permission to view this page.

{% endif %}


{% endblock %}


{% block script %}
    {{ data|json_script:"unit_id" }}
    <script src="{% static 'property/messages.js' %}"></script>
{% endblock %}