{% extends "property/layout.html" %}

{% block body %}

<h1>Messages</h1>

{% if user.is_authenticated and request.user == unit.manager or request.user == unit.tenant%}

    <button onclick="show_send_message_form_block()" class="show_send_a_message_form">Send a new message</button><br>
                    
    <div class="send_a_message_form">
        <form action="{% url 'send_message' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="upload_form">
                <textarea class="message_input" id="message_text" name="text" autocomplete=off type=text placeholder="Message" rows=6 cols=100></textarea>
                <br><br>
                <label for="image">Image (optional)</label>
                <br>
                <input id="add_image" name="image" type="file">
                {% if user.manager %}
                <input id="tenant_recipient" name="tenant" type=hidden value="{{unit.tenant.id}}"> 
                {% endif %}
            </div>
            <input class="btn btn-warning" type="submit" value="Send Message">
        </form>
    </div>

    {% for message in messages %}
    <div class="listed-item-messages-{{message.sender.tenant}}">

        <div class="original_message_content">
            <p class="timestamp">{{ message.timestamp }}</p>
            <p id="original_content_{{message.id}}">
                {% if message.sender.profile_picture %}
                    <img src="{{ message.sender.profile_picture.url }}" alt="{{ message.sender }}" height=50>
                {% endif %}
                
                {{ message.sender.first_name }} {{ message.sender.last_name }}: {{ message.text }}
            </p>
            {% if message.image %}
            <img src="{{ message.image.url }}" alt="{{ message.title }}" height=200>
            {% endif %}
        </div>

        {% if user == message.sender %}
        <div class="edit_message" style="display: none">
            <div id="edit_message_area_{{message.id}}">
                <textarea id="updated_text_{{message.id}}">{{ message.text }}</textarea><br>
                <button onclick="update_message('{{ message.id }}')" type="button" id="update_button" class="update btn btn-info">Update Message</button>
                <input id="message_id" type=hidden value="{{ message.id }}">
                <br><br>
            </div>
            <button onclick="show_textarea('{{ message.id }}')" id="edit_button" type="button" class="edit btn btn-warning">Edit</button>
        </div>
        {% endif %}
    </div>

    {% endfor %}

{% else %}

<br><br>
You don't have permission to view this page.

{% endif %}


{% endblock %}