{% extends "property/layout.html" %}

{% block body %}

<h1>Issues</h1>

{% if user.is_authenticated %}

    {% if user == unit.manager or user == unit.tenant %}
    
        {% if user.tenant %}
        <button onclick="show_report_issue_form_block()" class="show_report_an_issue_form">Report an issue to {{unit.manager.first_name}}</button><br>
                    
        <div class="report_an_issue_form">
            <form action="{% url 'report_issue' %}" method="post">
                {% csrf_token %}
                <input class="issue_input" id="issue_title" name="title" autocomplete=off type=text placeholder="Title">
                <br><br>
                <input class="issue_input" id="issue_image" name="image" autocomplete=off type=text placeholder="Image URL (optional)">
                <br><br>
                <textarea class="issue_input" id="issue_description" name="description" autocomplete=off type=text placeholder="Description" rows=4 cols=80></textarea>
                <br><br>
                <input class="btn btn-warning" type="submit" value="Submit Issue">
            </form>
        </div>
        {% endif %}


        <div class="inline-child">
            <h2 id="unresolved_header">Unresolved Issues</h2>
            
            <div class="unresolved-issues">
            {% for issue in unresolved_issues %}
                <div class="unresolved-item">
                    <p>Issue: {{issue.title}}</p>
                    <p>Reported: {{issue.time_created}}</p>
                    <p>Description: {{issue.description}}</p>
                    {% if issue.image %} 
                    <img src="{{ issue.image }}" alt="{{ issue.title }}" height=200>
                    <br><br>
                    {% endif %}
                    {% if user.tenant %} 
                    <button class="btn btn-warning" id="resolve_button_{{issue.id}}">Mark as Resolved</button>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="inline-child">
            <h2 id="resolved_header">Resolved Issues</h2>

            <div class="resolved-issues">
            {% for issue in resolved_issues %}
                <div class="resolved-item">
                    <p>Issue: {{issue.title}}</p>
                    <p>Reported: {{issue.time_created}}</p>
                    <p>Description: {{issue.description}}</p>
                    {% if issue.image %} 
                    <img src="{{ issue.image }}" alt="{{ issue.title }}" height=200><br><br>
                    {% endif %}
                </div>
            
            {% endfor %}
            </div>
        </div>
    
    {% else %}
    <br><br>You don't have permission to view this page.
    {% endif %}

{% else %}
<br><br>You don't have permission to view this page.
{% endif %}

{% endblock %}