{% extends "property/layout.html" %}

{% block body %}

{% if user == unit.manager %}

    <h1>{{unit}}</h1>
    <br><br>
    <div class="unit-listing">

        {% if unit.tenant %}
        <p>Tenant: {{unit.tenant.first_name}} {{unit.tenant.last_name}}</p>
        {% else %}
        <p>This unit does not have a registered tenant.</p>
        {% endif %}

        {% if unit.image_base64 %}
        <img src="data:image/jpeg;base64,{{ unit.image_base64 }}" alt="{{ unit.address }}" height=200>
        {% endif %}
        {% if unit.lease_base64 %}
        <br><br>
        <p>View the lease document <a href="{% url 'download_lease' unit.id %}" target="_blank" rel="noopener noreferrer">here</a>.</p>
        {% endif %}

    </div>

{% else %}
    You don't have permission to see this unit. Sorry!
{% endif %}

{% endblock %}