:root {
    --blue: rgb(60, 108, 196);
    --lightblue: rgb(127, 167, 241);
  }

body {
    background-color: rgb(219, 148, 148);
    color: maroon;
    font-family: 'Yusei Magic', sans-serif;
}

#property {
    color: maroon;
}

#property:hover {
    color: black;
    cursor: pointer;
}
a {
    text-decoration: none !important;
}
.add-property-link > a {
    color: maroon;
    text-decoration: none;
}

.body {
    padding: 2rem;
    text-align: center;
}

h1 {
    padding: 1rem;
    margin-bottom: 1rem;
    margin: auto;
    text-align: center;
    border: maroon solid 2px;
    background-color: white;
    color: maroon;
    display: block;
    box-shadow: 5px 5px;
    width: 50%;
    min-width: 350px;
}

.login {
    text-align: center;
    width: 30%;
    min-width: 350px;
    margin: auto;
}

.list-container{
    padding: 2rem;
}

.listed-item {
    padding: 1rem;
    margin: auto;
    width: 40%;
    min-width: 300px;
    margin-bottom: 2rem;
    text-align: center;
    border: white solid 2px;
    background-color: var(--blue);
    color: white;
}

@keyframes slide {
    0% {
        opacity: 1;
        max-height: 800px;
        overflow: visible;
        padding: 0.3rem;
        border: solid white 2px;
        margin-bottom: 1rem;

    }
    50% {
        opacity: 0;
        max-height: 400px;
        overflow: visible;
        padding: 0.3rem;
        border: solid white 2px;
        margin-bottom: 1rem;
    }
    100% {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0rem;
        border: solid white 0px;
        margin-bottom: 0rem;
    }
}

.listed-item-messages-True {
    padding: .3rem;
    margin: auto;
    width: 60%;
    min-width: 300px;
    margin-bottom: 1rem;
    text-align: center;
    border: white solid 2px;
    background-color: var(--blue);
    color: white;
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}


.listed-item-messages-False {
    padding: .3rem;
    margin: auto;
    width: 60%;
    min-width: 300px;
    margin-bottom: 1rem;
    text-align: center;
    border: white solid 2px;
    background-color: var(--lightblue);
    color: white;
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.listed-item-messages-False > .message_contents {
    margin-left: auto;
    margin-right: 1rem;
    text-align: right;
}

.listed-item-messages-True > .message_contents {
    margin-left: 1rem;
    margin-right: auto;
    text-align: left;
}

.listed-item-messages-True > .delete_buttons, .listed-item-messages-True > .read_status {
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-style: italic;
}

.listed-item-messages-False > .delete_buttons, .listed-item-messages-False > .read_status {
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-style: italic;
}

.message_image > img {
    max-width: 45vw;
    max-height: 400px;
}

.issue_image > img {
    max-width: 30vw;
    max-height: 400px;
}

.listed-item-link {
    padding: 1rem;
    margin: auto;
    width: 40%;
    min-width: 300px;
    margin-bottom: 2rem;
    text-align: center;
    border: white solid 2px;
    background-color: var(--blue);
    color: white;
    display: block;
}

.listed-item-link:hover {
    box-shadow: white 5px 5px;
    cursor: pointer;
}

#show_report_issue_form:hover, #show_send_message_form:hover {
    box-shadow: white 5px 5px;
    cursor: pointer;
}

.add_property {
    padding-top: 2rem;
    margin: auto;
    width: 40%;
    min-width: 300px;
    text-align: center;
}

.upload_form > input, .upload_form > label, .upload_form > textarea {
    width: 50%;
    min-width: 350px;
    text-align: left;
}

.upload_form > label {
    color: rgb(91, 91, 91)
}

.upload_form > textarea {
    width: 50%;
    min-width: 350px;
}

.issue_input, .message_input {
    width: 80%;
    min-width: 200px;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    vertical-align: top;
}

.flex-child {
    width: 45vw;
    min-width: 500px;
    margin: justify;
    vertical-align: top;
    margin-top: 1rem;
    flex: 1 1 auto;
}

#show_report_issue_form, #show_send_message_form {
    padding: 0.5rem;
    margin: auto;
    width: 60%;
    min-width: 200px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
    border: white solid 2px;
    background-color: var(--lightblue);
    color: white;
}

.show_send_a_message_form, .show_report_an_issue_form, .add-property-link {
    padding: 0.5rem;
    margin: auto;
    width: 30%;
    min-width: 200px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    border: maroon solid 2px;
    background-color: white;
    color: maroon;
}

.unit-listing, #add_property_form {
    padding: 0.5rem;
    margin: auto;
    width: 40%;
    min-width: 350px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    border: maroon solid 2px;
    background-color: white;
    color: maroon;
    box-shadow: maroon 5px 5px;
}

.show_send_a_message_form:hover, .show_report_an_issue_form:hover, .add-property-link:hover {
    box-shadow: maroon 5px 5px;
    cursor: pointer;
}

.send_a_message_form, .report_an_issue_form {
    display: none;
    margin: auto;
    width: 50%;
    min-width: 350px;
    margin-bottom: 2rem;
}

.edit_message, .original_message_content {
    width: 80%;
    min-width: 250px;
    text-align: left;
    margin: 1rem;
}

h2 {
    padding: 0.5rem;
    margin: auto;
    width: 80%;
    min-width: 250px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
    border: white solid 2px;
    color: white;
    box-shadow: white 5px 5px;
}

#unresolved_header {
    background-color:maroon;
}

#resolved_header {
    background-color: seagreen;
}

.unresolved-item {
    padding: .5rem;
    margin: auto;
    width: 80%;
    min-width: 250px;
    margin-bottom: 1rem;
    text-align: left;
    border: white solid 2px;
    background-color:maroon;
    color: white;
    display: block;
}

.resolved-item {
    padding: .5rem;
    margin: auto;
    width: 80%;
    min-width: 250px;
    margin-bottom: 1rem;
    text-align: left;
    border: white solid 2px;
    background-color: seagreen;
    color: white;
    display: block;
}

.profile_info {
    padding: 1rem;
    margin: auto;
    width: 90%;
    min-width: 300px;
    margin-bottom: 2rem;
    text-align: center;
    border: white solid 2px;
    background-color: var(--blue);
    color: white;
    display: block;
}

.edit_issue_textarea {
    width: 100%;
    height: 100px;
}
#send-message-form, .report-issue-form {
    display: none;
}

